@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.post-body td {
  border: 1px solid black;
  box-sizing: border-box;
}
.post-body h1 {
  @apply mt-2 scroll-m-20 mb-3  text-4xl font-bold tracking-tight;
}

.post-body h2 {
  @apply mt-10 scroll-m-20  pb-1 text-2xl font-medium  tracking-tight first:mt-0;
}

.post-body h3 {
  @apply mt-8 scroll-m-20 text-2xl font-semibold tracking-tight;
}

.post-body h4 {
  @apply mt-8 scroll-m-20 text-xl font-semibold tracking-tight;
}

.post-body h5 {
  @apply mt-8 scroll-m-20 text-lg font-semibold tracking-tight;
}

.post-body h6 {
  @apply mt-8 scroll-m-20 text-base font-semibold tracking-tight;
}
.post-body a {
  @apply font-medium underline underline-offset-4;
}
.post-body ul {
  @apply my-6 ml-6 list-disc;
}
.post-body li {
  @apply mt-2;
}
.post-body ol {
  @apply my-6 ml-6 list-decimal;
}
.post-body img {
  @apply rounded-md border my-3;
}
.post-body table {
  @apply rounded-md border my-3;
}

.nav-links nav {
  animation-name: pop-up-animation;
  animation-duration: 0.3s;
}

@keyframes pop-up-animation {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
